apps/login/__pycache__/__init__.cpython-38.pyc
apps/login/__pycache__/admin.cpython-38.pyc
PostIT/__pycache__/wsgi.cpython-38.pyc
PostIT/__pycache__/urls.cpython-38.pyc
apps/login/__pycache__/forms.cpython-38.pyc
apps/login/__pycache__/models.cpython-38.pyc
apps/login/__pycache__/urls.cpython-38.pyc
apps/login/__pycache__/views.cpython-38.pyc
apps/user/__pycache__/__init__.cpython-38.pyc
apps/user/__pycache__/admin.cpython-38.pyc
apps/user/__pycache__/forms.cpython-38.pyc
apps/user/__pycache__/models.cpython-38.pyc
apps/user/__pycache__/urls.cpython-38.pyc
apps/user/__pycache__/views.cpython-38.pyc
PostIT/__pycache__/__init__.cpython-38.pyc
PostIT/settings/__pycache__/local.cpython-38.pyc
PostIT/settings/__pycache__/base.cpython-38.pyc
apps/user/migrations/__pycache__/__init__.cpython-38.pyc
apps/user/migrations/__pycache__/0001_initial.cpython-38.pyc
apps/user/migrations/__pycache__/0002_auto_20200928_1456.cpython-38.pyc
